{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% for p in products.all %}
    <div class="row mb-5 mt-5" height="500">
        <div class="col-3" onclick="window.location='{% url 'product_detail' p.id %}'" style="cursor: pointer;">
            <img src="{{ p.icon.url }}" width="200" heignt="200" class="rounded" />
        </div>
        <div class="col-6" onclick="window.location='{% url 'product_detail' p.id %}'" style="cursor: pointer;">
            <a href="/products/{{ p.id }}"><h3>{{ p.title }}</h3></a>
            <p>{{ p.summary }}</p>
        </div>
        <div class="col-3"><a href="javascript:{document.getElementById('upvote{{ p.id }}').submit()}" class="btn btn-primary btn-block">Upvote {{ p.votes_total }}</a></div>
    </div>

    <form id="upvote{{ p.id }}" method="POST" action="{% url 'upvote' p.id %}">
        {% csrf_token %}
        <input type="hidden" />
    </form>
    {% endfor %}
</div>

{% endblock %}
